/* components/ScrollingJobCards.css */
.scrolling-job-cards {
    width: 600px;
    height: 320px;
    /* Enough height to show 4 cards */
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.job-card-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.job-card {
    width: 100%;
    height: 70px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 8px;
    opacity: 0.9;
}

.job-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
}

.job-salary {
    font-size: 1rem;
    font-weight: 500;
    color: #777;
}