/* ScrollingJobCards.css */
.scrolling-job-cards {
    width: 600px;
    height: 320px;
    /* Height to show 4 cards */
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    margin-top: 2rem;
    border-radius: 20px;
    /* Add top margin for spacing after ShufflingDisplay */
    /* Center the component */
}

.job-card-container {
    display: flex;
    flex-direction: column;
    animation: scroll 24s linear infinite;
    border-radius: 20px;
    /* Adjust time as needed */
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50%);
        /* Move up by half of the container's height */
    }
}

.job-card {
    width: 100%;
    height: 80px;
    /* Slightly increased for better spacing */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    border-radius: 20px;
    opacity: 0.9;
    margin-bottom: 10px;
    /* Add some space between cards */
}

.job-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
}

.job-salary {
    font-size: 1rem;
    font-weight: 500;
    color: #777;
}

/* Optional: Pause animation on hover */
.scrolling-job-cards:hover .job-card-container {
    animation-play-state: paused;
}